*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* *,*::before,*::after{
    box-sizing: inherit;
} */

#nav{
    height: 15vh;
    width: 100%;
    display:  flex;
    /* border: 1px solid black; */
    align-items: center;
}

#logo{
    height: 12vh;
    width: 20%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu{
    height: 12vh;
    width: 80%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}