*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#app{
  margin: 20px;
  padding: 15px;
  color:white;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(1, 190, 253);
  width: 100vd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  
  
}
#landing_page{
  padding-bottom:5 px;
  font-weight: bold;
}


#webinar{
  padding-bottom: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

#main_div{
  width: 70%;
  height: 100%;
  background-color: rgb(244, 234, 215);
  border: 2px solid black;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  
}

#navbar{
  width: 100%;
  height: 10vh;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 1px ;
  border-color: black;
  border: 2px solid black;
}

#sec1{
  font-family: serif;
  font-weight: bold;
  width: 10vw;
  color: rgb(55, 8, 8);
  font-size: 16px;
}

#sec2{
  width: 50vw;
  color: rgb(55, 8, 8);
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-around;
  padding-left: 30px;
  
}

#sec3{
  width: 40vw;
  color: rgb(55, 8, 8);
}

#searchbar{
  float: right;
  padding: 2px;
  border: none;
  margin-right: 16px;
  font-size: 16px;
}

.subdiv{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  border: 1px  solid;
  border-color: black;  
}
.horizontal_div1{
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal_div2{
  width: 33vw;
  border: 2px solid black;
}
.horizontal_div2>img{
  width: 100%;
  height: 100%;
}
.horizontal_div3{
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box1{
  padding: 25PX;
  height: 33vh;
  color: white;
  background-color: rgb(15, 194, 197);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.box1>#smalltext{
  font-size: small;
}
#box2{
  height: 33vh;
  color: black;
  font-weight: bolder;
  font-size: larger;
  background-color: rgb(190, 160, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
#box3{
  height: 33vh;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.banner{
  height: 50vh;
  color: black;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 50px;
  border: 2px solid black;
}
.banner>#business{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  padding-bottom: 20px;
}


#join_now{
  padding: 25px;
  font: 1em sans-serif;
  font-size: medium;
  height: 50vh;
  color: black;
  border: 2px solid black;
}

